<!DOCTYPE html>

<html lang="en" class=" desktop portrait"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://psdconverthtml.com/live/yourcoupon/coupon-v1/images/apple-touch-icon-152x152.png">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/bootstrap.min.css') }}">
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/style.css') }}">
    <!-- RESPONSIVE STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/responsive.css') }}">
    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/colors.css') }}">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}/">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body cz-shortcut-listen="true">


<!-- ******************************************
START SITE HERE
********************************************** -->

{% block body %}{% endblock %}

<!-- ******************************************
/END SITE
********************************************** -->

<!-- ******************************************
DEFAULT JAVASCRIPT FILES
********************************************** -->
<script src="{{ asset('/assets/all.js') }}"></script>
<script src="{{ asset('/assets/custom.js') }}"></script>



</body></html>